body {
    padding: 0;
    margin: 0;
    background-color: #737EBF;
}

.tittle{
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: #939ABF;
    min-width: 90%;
    min-height: 8em;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

}

.tittle p {
    display: flex;
    color: white;
    font-size: 4em;
    margin: 0;
    border-bottom: 12px solid #F2E857;
}


#container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    padding-bottom: 20px;
}



.resultados{
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #939ABF;
}

.divbtn{
display: flex;
width: 100%;
justify-content: center;
}

.btn {
    display: flex;
    height: 50px;
    width: 100%;
    border: none;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 15px;
    background-color: #737EBF;
    color: white;
    cursor: pointer;
}

.bolas{
    display: flex;
    min-height: 130px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #939ABF;
}

.bola {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: #737EBF;
    font-size: 2em;
    font-weight: bold;
    /*border: 0.5px solid;*/
    box-shadow: 0px 1px 2px #737EBF;
}

.resultadosAbasTop {
    display: flex;
    min-height: 35px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #939ABF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

.premio, .resData{
    display: flex;    
    width: 150px;
    align-items: baseline;
    border-bottom: 2px solid #737EBF;
    border-radius: 5px;
    font-size: 1em;
}

#inputPremio
{
    margin-left: 15px;
    font-size: 1em;
}




.resultadosAbasBottom {
    display: flex;
    min-height: 35px;
    width: 100%;
    color: white;
    justify-content: center;
    background-color: #939ABF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.resVencedores{
    display: inline;
    justify-content: center;
    align-items: center;
    justify-content: center;
}


.vencedores, .pts{
    display: flex;
    min-height: 35px;
    align-items: center;
    margin-bottom: 5px;
}

.vencedores {
    margin: 20px;
    font-size: 2em;
    justify-content: center;
}

.pts {
    display: grid;
    width: 280px;
    grid-template-columns: 25% 26% 28%;
    border-bottom: 2px solid #737EBF;
    border-radius: 5px;
    justify-content: space-between;
}

.acertos {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.qtGanhadores15,
.qtGanhadores14,
.qtGanhadores13,
.qtGanhadores12,
.qtGanhadores11,
#input15pts,
#input14pts,
#input13pts,
#input12pts,
#input11pts {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

svg {
    color: #F2E857;
}




.dataDoSorteio{
    display: flex;
    margin-left: 15px;
    font-size: 1em;
}


/*--------------------------*/
/*--------------------------*/
/*--------------------------*/
/*--------------------------*/
/*--------------------------*/
.fazerJogo {
    display: flex;
    flex-direction: column;
    width: 380px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #939ABF;
    border-radius: 10px;

}

.escolDez{
    display: flex;
    height: 30px;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #737EBF;
    margin-bottom: 20px;
    color: white;
    font-size: 1.3em;
    border-radius: 10px;

}


.quadro{
    height: 300px;
    width: 300px;
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dez {
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.8em;
    border: 2px solid #737EBF;
}

.clickedDez{
    background-color: #F2E857;
}

.dezenasEscolhidas{
    display: grid;
    width: 300px;
    grid-template-columns: 45% auto 25%;
    height: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-end;
    justify-content: space-around;
}

.dEscolhidasTexto {
    color: white;
    font-size: 1.3em;
}

.dEscolhidasNum{
    display: flex;
    width: 40px;
    font-size: 1.4em;
    justify-content: center;
    align-items: baseline;
    font-weight: bolder;
    border-bottom: 4px solid #F2E857;
}

.dEscolhidasDezenas {
    color: white;
    font-size: 1.3em;    
}


.conteinerBottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.limparDezEscolhidas{
    display: flex;
    height: 30px;
    width: 250px;
    background-color: #737EBF;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3em;
    border-radius: 5px;
    cursor: pointer;
}

.enviarDezEscolhidas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 250px;
    margin-top: 40px;
    background-color: #737EBF;
    color: white;
    font-size: 2.5em;
    border-radius: 5px;
    cursor: pointer;
}

.teste{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.receberfetch{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}



.jogosAcertadorQuadro15,
.jogosAcertadorQuadro14,
.jogosAcertadorQuadro13,
.jogosAcertadorQuadro12,
.jogosAcertadorQuadro11 {
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    border: 2px solid white;
    background-color: #939ABF;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    align-items: center;
    overflow: hidden;

}

.textoPontos{
    display: flex;
    font-size: 1.2em;
    background-color: #F2E857;
    width: 100%;
    justify-content: center;
    color: #737EBF;
    font-weight: bold;
}

.textoPontosinputs15,
.textoPontosinputs14,
.textoPontosinputs13,
.textoPontosinputs12,
.textoPontosinputs11 {
    display: flex;
    margin-left: 20px;
    font-size: 1em;

}


.receber11pontos, 
.receber12pontos,
.receber13pontos,
.receber14pontos,
.receber15pontos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.divBolaEscolhida {
    display: flex;
    height: 150px;
    width: 150px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid #737EBF;
    border-radius: 15px;
    padding: 8px;
}

.bolaEscolhida {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    margin: 8px;
    font-size: 1.3em;
    font-weight: bold;
    color: #737EBF;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px #737EBF;
}

.bolaEscolhida2 {
    display: flex;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50px;
    margin: 2px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #737EBF;
}



