@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Fira+Code:wght@500&family=Monoton&family=Russo+One&family=Staatliches&family=Ubuntu:wght@700&display=swap');

*
{
    font-family: 'Staatliches';
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #F2CB05;
}

header
{
    color: #2E5902;
    font-size: 60px;
}



.container
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.container
{
    width: auto;
    margin: 20px;
    padding: 40px 30px;
    background: #D96941;
    border-radius: 40px;
    
}



.container .card .titulo
{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.container .card .titulo h2
{
    color: #A62B1F;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.container .card .titulo p
{
    color: #A62B1F;
}

