@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Fira+Code:wght@500&family=Monoton&family=Russo+One&family=Staatliches&family=Ubuntu:wght@700&display=swap');

*
{
    font-family: 'Staatliches';
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    display: flex;
    width: 400px;
    height: 800px;
    border-radius: 20px;
    background-color: #F2C030;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    
    
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 230px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #F2A71B;
    
}

.container21 {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    background-color: #F2A71B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}




#central{
    display: flex;
    justify-content: center;
    width: 260px;
}


#central.activeCentral{
    justify-content: flex-start;
}



#cozinha {
    display: flex;
    font-size: 41px;
    font-weight: bolder;
    background-color: #F2A71B;
    color: #A62B1F;
    align-items: center;
}

#cozinha.activeCozinhaCentral{
    display: flex;/*
    font-size: 41px;
    font-weight: bolder;
    background-color: #F2A71B;
    color: #A62B1F;
    align-items: center;
    animation: slidein 3s;*/
}

#nomeCozinha{
    display: flex;
    margin-right: 8px;
}
#nomeCozinha.animedCozinha{
    display: flex;
    overflow: hidden;
    animation: fade-out-nomeCozinha 3s;
    
}

#nomeCozinha.activeCozinha{
    display: none;

}

#svgCozinha{
    display: flex;
    margin-right: 12px;
    
}

#svgCozinha.animedsvgCozinha{
    animation: esquedaSVG 3s;
}



@keyframes esquedaSVG {
    0% {
        transform: translate(0px);
      }
    100% {
        transform: translate(-113px);      
      }

}


@keyframes fade-out-nomeCozinha {
    0% {
        opacity: 1;
        width: 118.5px;
        margin-right: 8px;
      }
    100% {
        opacity: 0;
        width:0px;
        margin-right: 0;
        
      }

}





#quarto{
    display: none;
    font-size: 41px;
    font-weight: bolder;
    color: #A62B1F;
    align-items: center;
}

#quarto.activeQuarto{
    display: flex;
    margin-right: 12px;
    animation: fade-in 0.5s;

}


#nomeQuarto{
    display: none;
    margin-right: 8px;
}



#sala{
    display: none;
    font-size: 41px;
    font-weight: bolder;
    color: #A62B1F;
    align-items: center;
}

#sala.activeSala{
    display: flex;
    margin-right: 12px;
    animation: fade-in 0.5s;
}


#nomeSala{
    display: none;
    margin-right: 8px;
}





#banheiro{
    display: none;
    font-size: 41px;
    font-weight: bolder;
    color: #A62B1F;
    align-items: center;
}

#banheiro.activeBanheiro{
    display: flex;
    margin-right: 12px;
    animation: fade-in 0.5s;
}

#nomeBanheiro{
    display: none;
    margin-right: 8px;
}




#lavanderia{
    display: none;
    font-size: 41px;
    font-weight: bolder;
    color: #A62B1F;
    align-items: center;
}

#lavanderia.activeLavanderia{
    display: flex;
    margin-right: 12px;
    animation: fade-in 0.5s;
}


#nomeLavanderia{
    display: none;
    margin-right: 8px;
}



@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }





#menuToggle {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

#menuToggle.activeMenu{
    background: #f73131;
    border-radius: 25px;
}



#menuToggle::before{
    content: '';
    position: absolute;
    width: 37px;
    height: 4.5px;
    background: white;
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: 0 10px white;
}

#menuToggle.activeMenu::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px white;
}


#menuToggle::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 4.5px;
    background: white;
    transition: 0.5s;
    transform: translateY(10px);    
}

#menuToggle.activeMenu::after{
    transform: translateY(0px) rotate(-45deg);  
}



.container22 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}

.container221 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.664);
    width: 150px;
    height: 120px;
    justify-content: flex-end;
    border-radius: 35px;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.1);
}

.iconPrin {
    display: flex;
    align-items: center;
}
.secSpace{
    display: flex;
    align-items: center;
    font-size: 60px;
    color: #F29F05;
}


.container3 {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 550px;
    border-radius: 15px;        margin: auto;
}

.container31 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.15);
}

.container311{
    display: flex;
    justify-content: space-around;

}

.container3111{
    display: flex;
    height: 100px;
    font-size: 40px;
    color: #F2C030;
    align-items: center;
}

.container312 {
    display: none;
    justify-content: space-around;
    
}


.bttnTeto {
    display: flex;
    width: 130px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 8px solid #A62B1F;
    background-color: #F29F05;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.35);
}

.activeTeto
{
    border-bottom: 8px solid #BDE038;
}

.bttnPia {
    display: flex;
    width: 130px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 8px solid #A62B1F;
    background-color: #F29F05;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.35);
}

.activePia{
    border-bottom: 8px solid #BDE038;
}


.container32 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.15);
}

.container321{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container3211{
    display: flex;
    height: 100px;
    font-size: 40px;
    color: #F2C030;
    align-items: center;
}
.container322{
    display: none;
    justify-content: space-around;
}
.bttnFog {
    display: flex;
    width: 130px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 8px solid #A62B1F;
    background-color: #F29F05;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.35);
}

.activeForFog{
    border-bottom: 8px solid #BDE038;
}



.container33 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.15);
}

.container331{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container3311{
    display: flex;
    height: 100px;
    font-size: 40px;
    color: #F2C030;
    align-items: center;
}

.container332 {
    display: none;
    flex-direction: column;
}


.container3321 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bttnExaust{
    display: flex;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 8px solid #A62B1F;
    background-color: #F29F05;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.35);
}

.activeExaust{
    border-bottom: 8px solid #BDE038;
}



.container3322 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bttnTemForn{
    display: flex;
    width: 160px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #F29F05;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    
}

.bttnLigAuto{
    display: flex;
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #F29F05;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: white;
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    width: 45px;
    height: 23px;
    border-radius: 50px;
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.342);
    cursor: pointer;
    transition: 0.4s;
    position: relative;

}

input:checked[type="checkbox"] {
    background-color: #3DECB1;
}

input[type="checkbox"]:before {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.733);
    transform: scale(1.06);
    top: 0;
    left: 0;
    transition: 0.4s;
}

input:checked[type="checkbox"]:before {
    left: 22px;
}
