@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 80px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p
{
    color: #333;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img
{
    max-width: 400px;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover
{
    transform: translateY(-15px);
}

.thumb li img
{
    max-width: 80px;
}

.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(0.6);
}

.sci li a ion-icon
{
    width: 50px;
    height: 50px;
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

@media (max-width: 1318px)
{
    section
    {
        background: white;
        padding: 10px 50px;

    }
   

    header .logo
    {
    position: relative;
    max-width: 60px;
    }

    .content .textBox
    {
    position: relative;
    max-width: 600px;
    align-items: flex-start;
    }

    .content .textBox h2
    {
    position: relative;
    color: #333;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 500;
    width: 450px;
    max-width: 600px;
    }



    .content .textBox p
{
    position: relative;
    color: #333;
    display: flex;
    max-width: 400px;
    text-align: left;
}



    .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(500px at right 800px);
}
.thumb
{
    position: absolute;
    left: 30%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

}

@media (max-width: 1000px)
{
    section
    {
        background: white;
        padding: 10px 50px;

    }
   

    header .logo
    {
    position: relative;
    max-width: 60px;
    }

    .content .textBox
    {
    position: relative;
    max-width: 600px;
    align-items: flex-start;
    }

    .content .textBox h2
    {
    position: relative;
    color: #333;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 500;
    width: 450px;
    max-width: 600px;
    }



    .content .textBox p
{
    position: relative;
    color: #333;
    display: flex;
    max-width: 400px;
    text-align: left;
}



    .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(400px at right 500px);
}
.thumb
{
    position: absolute;
    left: 30%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

}







@media (max-width: 878px)
{
    section
    {
        background: white;
        padding: 10px 50px;

    }
   

    header .logo
    {
    position: relative;
    max-width: 60px;
    }

    .content .textBox
    {
    position: relative;
    max-width: 300px;
    align-items: flex-start;
    }

    .content .textBox h2
    {
    position: relative;
    color: #333;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 500;
    width: 450px;
    max-width: 600px;
    }



    .content .textBox p
{
    position: relative;
    color: #333;
    display: flex;
    max-width: 400px;
    text-align: left;
}

.content .imgBox
{
    width: 350px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img
{
    max-width: 350px;
}


    
.thumb
{
    position: absolute;
    left: 30%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(400px at right 500px);
}
}

@media (max-width: 768px)
{
    section
    {
        background: white;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

    }

    header
    {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 10px;
    }

    header .logo
    {
        position: relative;
        max-width: 45px;
        display: flex;
    }

    header ul li a
    {
        display: flex;
        color: #333;
        font-weight: 500;
        margin-left: 10px;
        text-decoration: none;
    }


    
    .content
    {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .content .textBox
    {
        position: relative;
        max-width: 600px;

    }

    .content .textBox h2
    {
        position: relative;
        color: #333;
        font-size: 2.5em;
        line-height: 1.2em;
        font-weight: 600;
        width: 500px;
        max-width: 500px;
        margin: auto;
    }

    .content .textBox h2 span
    {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
    }

    .content .textBox p
    {
        color: #333;
    }

    .content .textBox a
    {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

    }

    .content .imgBox
    {
        margin: 0;
        margin-top: 30px;
        margin-left: 50px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: 300px
    }

    .content .imgBox img
    {
        max-width: 280px;
        justify-content: right;
    }


    .thumb
    {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    }

    .thumb li
    {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    }

    .thumb li img
    {
        max-width: 58px;
    }



    .circle
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(300px at right 700px);
    }
    
}

@media (max-width: 600px)
{
    section
    {
        background: white;
        padding: 10px 26px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

    }

    header
    {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 10px;
    }

    header .logo
    {
        position: relative;
        max-width: 50px;
        display: flex;
    }

    header ul li a
    {
        display: flex;
        color: #333;
        font-weight: 500;
        margin-left: 10px;
        text-decoration: none;
    }

    .content
    {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }

    .content .textBox
    {
    position: relative;
    max-width: 600px;
    }

    .content .textBox h2
    {
        position: relative;
        color: #333;
        font-size: 2.5em;
        line-height: 1.2em;
        font-weight: 600;
        width: 400px;
        max-width: 400px;
        margin: auto;
    }


    .content .textBox h2 span
    {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
    }

    .content .textBox p
    {
    color: #333;
    }

    .content .textBox a
    {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.7em;
    text-decoration: none;
    }

    .content .imgBox
    {
        margin: 0;
        margin-top: 30px;
        margin-left: 50px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: 300px
    }

    .content .imgBox img
    {
        max-width: 280px;
        justify-content: right;
    }

    .thumb
    {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    }

    .thumb li
    {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    }

    .thumb li img
    {
        max-width: 58px;
    }



    .circle
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(300px at right 700px);
    }
    
}



@media (max-width: 414px)
{
    section
    {
        background: white;
        padding: 10px 24px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

    }

    header
    {
        position: relative;
        width: 375px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 10px;
    }

    header .logo
    {
        position: relative;
        max-width: 40px;
    }

    header ul li a
    {
        display: inline-block;
        color: #333;
        font-weight: 400;
        margin-left: 10px;
        text-decoration: none;
    }

    .content
    {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .content .textBox
    {
        height: 100%;
        position: relative;
        max-width: 300px;
        align-items: flex-start;
        margin: 0;
        padding: 0;

    }

    .content .textBox h2
    {
        position: relative;
        color: #333;
        font-size: 2em;
        line-height: 1.2em;
        font-weight: 600;
        width: 300px;
        max-width: 300px;
    }



    .content .textBox p
    {
        position: relative;
        color: #333;
        display: flex;
        max-width: 300px;
        text-align: left;
    }

    .content .textBox a
    {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.7em;

    }

    .content .imgBox
    {
        margin: 0;
        margin-top: 30px;
        margin-left: 50px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: 250px
    }

    .content .imgBox img
    {
        max-width: 250px;
        justify-content: right;
    }

    .thumb
    {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    }

    .thumb li
    {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    }

    .thumb li img
    {
        max-width: 58px;
    }



    .circle
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(300px at right 700px);
    }
    
}




@media (max-width: 375px)
{
    section
    {
        background: white;
        padding: 10px 24px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

    }

    header
    {
        position: relative;
        width: 375px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 10px;
    }

    header .logo
    {
        position: relative;
        max-width: 40px;
    }

    header ul li a
    {
        display: inline-block;
        color: #333;
        font-weight: 400;
        margin-left: 10px;
        text-decoration: none;
    }

    .content
    {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .content .textBox
    {
        height: 100%;
        position: relative;
        max-width: 300px;
        align-items: flex-start;
        margin: 0;
        padding: 0;

    }

    .content .textBox h2
    {
        position: relative;
        color: #333;
        font-size: 2em;
        line-height: 1.2em;
        font-weight: 600;
        width: 300px;
        max-width: 300px;
    }



    .content .textBox p
    {
        position: relative;
        color: #333;
        display: flex;
        max-width: 300px;
        text-align: left;
    }

    .content .textBox a
{
    display: inline-block;
    margin-top: 5px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.7em;

}

    .content .imgBox
    {
        margin: 0;
        margin-left: 100px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        width: 200px
    }

    .content .imgBox img
    {
        max-width: 200px;
        justify-content: right;
    }

    .thumb
    {
    position: absolute;
    top: 50%;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    }

    .thumb li
    {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.5s;
    }

    .thumb li:hover
    {
        transform: translateX(20px);
    }

    .thumb li img
    {
        max-width: 40px;
    }



    .circle
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(300px at right 700px);
    }
    
}